In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r"E:\Xebia\xebia_training_data\datasets\conn250K_anomaly_detection.csv",
                header=None)
df.shape

(256670, 4)

- record ID - The unique identifier for each connection record.
- duration_  This feature denotes the number of seconds (rounded) of the connection. For example, a connection for 0.17s or 0.3s would be indicated with a “0” in this field.
- src_bytes This field represents the number of data bytes transferred from the source to the destination (i.e., the amount of out-going bytes from the host).
- dst_bytes This feature represents the number of data bytes transferred from the destination to the source (i.e., the amount of bytes received by the host).

In [5]:
df.head()

   0  1    2     3
0  1  0  236  1228
1  2  0  239   486
2  3  0  234  1364
3  4  0  239  1295
4  5  0  181  5450

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256670 entries, 0 to 256669
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       256670 non-null  int64
 1   1       256670 non-null  int64
 2   2       256670 non-null  int64
 3   3       256670 non-null  int64
dtypes: int64(4)
memory usage: 7.8 MB

In [8]:
df.describe()

                   0              1              2             3
count  256670.000000  256670.000000  256670.000000  2.566700e+05
mean   128335.500000       0.640936     474.247898  4.473533e+03
std     74094.391134      15.627170    3391.106084  2.080903e+04
min         1.000000       0.000000       0.000000  0.000000e+00
25%     64168.250000       0.000000     217.000000  6.600000e+02
50%    128335.500000       0.000000     249.000000  1.661000e+03
75%    192502.750000       0.000000     306.000000  4.341000e+03
max    256670.000000    3289.000000   54540.000000  7.068759e+06

### Apply preprocessing on data

In [12]:
x = df[[1,2,3]]
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x2 = sc.fit_transform(x)

In [22]:
from sklearn.ensemble import IsolationForest
model = IsolationForest(n_estimators=100,max_samples=0.8,
                       contamination=0.05)
model.fit(x2)

IsolationForest(contamination=0.05, max_samples=0.8)

In [23]:
df['is_anomaly?_'] = model.predict(x2)
df['is_anomaly?_'].value_counts()

 1    243845
-1     12825
Name: is_anomaly?_, dtype: int64

In [24]:
df['is_anomaly?_'] = np.where(model.predict(x2)==1,0,1)
df['is_anomaly?_'].value_counts()

0    243845
1     12825
Name: is_anomaly?_, dtype: int64

In [25]:
df2 = df[[0,'is_anomaly?_']]
df2.columns=['ID','is_anomaly?']
df2.to_csv("conn250k_anomaly.csv",index=False)

In [30]:
df2.head()

   ID  is_anomaly?
0   1            0
1   2            0
2   3            0
3   4            0
4   5            0